body {
    background-color: #FF8A65;
    background-image: url("./assets/site/background.png");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@viewport {
    width: device-width;
    zoom: 1.0;
}

.middle {
    background: rgba(46, 49, 49, 0.5);
    -pie-background: rgba(46, 49, 49, 1);
    behavior: url(PIE.htc);
}

/* div.gallery {
    border: 1px solid #FF8A65;
    margin-top: 10px;
} */

div.gallery img {
    width: 100%;
    height: 90px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 0px;
    float: left;
    width: 24.99999%;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 0px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}