body {
    background-color: #D0E4F5;
    background-image: url("./assets/site/background.png");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
@viewport {
        width: device-width ;
        zoom: 1.0 ;
    }
