/*! --- Initial Stuff ---*/

body {
  background-color: #ff8a65;
  background-image: url("./assets/site/background.png");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

@viewport {
  width: device-width;
  zoom: 1;
}

.middle {
  background: rgba(46, 49, 49, 0.5);
  -pie-background: rgba(46, 49, 49, 1);
  behavior: url(PIE.htc);
}

div.gallery img {
  width: 100%;
  height: 90px;
  border: 2px solid #ff8a65;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
  font-family: Arial;
}

.responsive {
  padding: 0 2px;
  float: left;
  width: 24.99999%;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 0px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*! --- HOVER ZOOM ---*/
.zoom {
  transition: transform 0.2s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

/*! --- CLICK ZOOM ---*/
.zoomD {
  width: 600px;
  height: auto;
  cursor: pointer;
}

#lb-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.4s;
}
#lb-back.show {
  visibility: visible;
  opacity: 1;
}

#lb-img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
#lb-img img {
  width: 100%;
  height: auto;
}

html,
body {
  padding: 0;
  margin: 0;
}
